@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark"
               href="#" id="accountMenu" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                Hello @User.Identity?.Name!
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountMenu">
                <li>
                    <a class="dropdown-item"
                       asp-area="Identity"
                       asp-page="/Account/Manage/Index">
                        Profile
                    </a>
                </li>
                <li>
                    <form asp-area="Identity" asp-page="/Account/Logout"
                          asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
                          method="post">
                        <button type="submit" class="dropdown-item">Logout</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>